# Dataset folders
Calibration/
DATASET_READY/
gps_tracks/
raw_data_160420_subset/
tags/
annotations_cropweed_parts/ijrr_sugarbeets_2016_annotations/CKA_*/
annotations_cropweed_parts/WORKSET/DATASET_READY/
annotations_cropweed_parts/WORKSET/DATASET_SPLIT/
annotations_cropweed_parts/WORKSET/images/
annotations_cropweed_parts/WORKSET/masks/

# Large files
*.zip
*.pth
*.tar
*.gz

# Python
__pycache__/
*.pyc
.env
venv/
.venv/
